.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 15px;
}

.badge2 {
  background-color: tomato;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}

.badge3 {
  background-color: tomato;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 12pt;
  border-radius: 15px;
  margin-left: 10px;
}
